@model WebAPI.Models.DbModels.User
@{
    ViewBag.Title = "Index";
}

<script src=@Url.Content("~/scripts/custom/checker_index.js")></script>

@Html.HiddenFor(model => model.Id, new { @id = "userId" })

<div class="row" style="margin-top: 40px">
    <div class="form-group col-lg-5">
        <label for="editor">Editor:</label>
        <div contenteditable="true" id="editor"></div>
    </div>
    <div class="form-group col-lg-7">
        <label for="topUsers">Top 10 Users</label>
        <table class="table table-responsive" id="topUsers">
        </table>
    </div>
</div>


<div id="tooltip">
    <table id="probabilities" class="table">
    </table>
</div>